@import '@styles/_breakpoints.scss';
@import '@styles/_mixins.scss';
@import '@styles/_theme.scss';

.projectcard {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  cursor: pointer;
  height: 300px;
  margin: 15px;
  overflow: hidden;
  transition: 0.2s;
  width: 350px;

  img {
    height: 200px;
    object-fit: cover;
    width: 100%;
  }

  p {
    font-size: 0.8em;
    padding: 0 10%;
    width: 100%;
    margin-top: 5px;
    text-align: center;

    &.title {
      font-size: 0.9em;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}
