@import '@styles/_theme.scss';
@import '@styles/_breakpoints.scss';

@mixin anchor-style {
  color: $textPrimary;

  &:hover {
    color: $colorPrimary;
  }
}

@mixin content {
  margin: 0 10%;
  position: relative;
}

@mixin offset {
  padding-top: 6rem;
  position: relative;
  top: 10vw;
}

@mixin title {
  color: $primary-blue;
  text-align: center;

  @include breakpoint-large-up {
    margin-left: 10%;
    text-align: left;
  }
}

@mixin smooth-font {
  $smoothTextShadowColor: rgba(0, 0, 0, 0.01) 0 0 1px;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-shadow: $smoothTextShadowColor;
}

@mixin font-size-reset {
  font-size: 15px;

  @include breakpoint-large-up {
    font-size: 17px;
  }
}

@mixin background($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: 50%;
  -moz-background-size: 50%;
  -o-background-size: 50%;
  background-size: 50%;
}
