@import '@styles/_breakpoints.scss';
@import '@styles/_mixins.scss';
@import '@styles/_theme.scss';

.about {
  @include offset;

  background-color: $bg-white;
  color: $text-black;
  position: relative;
  z-index: 500;

  h1 {
    @include title;
  }

  .content {
    @include content;

    @include breakpoint-large-up {
      align-items: center;
      display: flex;
    }

    .text {
      text-align: center;
      width: 100%;
      z-index: 501;
      @include breakpoint-large-up {
        text-align: left;
        width: 50%;
      }
    }
  }

  .image {
    background-color: $primary-blue;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(33,33,33, 0.4);
    height: 80vw;
    margin-bottom: 10vw;
    transition: .2s;
    width: 80vw;
    z-index: 499;

    &:hover {
      transform: scale(1.05);
    }

    @include breakpoint-large-up {
      height: 38vw;
      position: absolute;
      right: 0;
      width: 38vw;
    }
  }

  .whitebar {
    background-color: $bg-white;
    height: 10px;
    position: relative;
    top: calc(-5rem - 1px);
    width: 100%;
    z-index: 501;
  }
}
