@import '@styles/_breakpoints.scss';
@import '@styles/_mixins.scss';
@import '@styles/_theme.scss';

.about {
  @include offset;

  background-color: $bg-white;
  color: $text-black;
  position: relative;
  z-index: 500;

  h1 {
    @include title;
  }

  .content {
    @include content;

    @include breakpoint-large-up {
      align-items: center;
      display: flex;
    }

    a {
      background: white;
      border: 1px solid $primary-blue;
      border-radius: 25px;
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      height: 50px;
      margin: 0 5%;
      overflow: hidden;
      position: relative;
      padding-top: calc(20px - .5rem);
      text-align: center;
      text-decoration: none;
      transition: all 0.3s ease;
      -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
      width: 40%;

      &:focus {
        outline: none;
      }

      @include breakpoint-large-up {
        margin-left: 0;
      }

      .layer {
        align-items: center;
        border-radius: 25px;
        justify-content: center;
      	color:#fff;
        display: flex;
      	position:absolute;
      	top: 0;
      	width: 100.1%;
        height: 100%;
      	left:-200%;
        transition: all .5s ease;
      	background-color: $primary-blue;
      }

      &:hover {
        color: white;

      	.layer {
      		left: 0;
      	}
      }
    }

    .text {
      text-align: center;
      width: 100%;
      z-index: 501;
      @include breakpoint-large-up {
        text-align: left;
        width: 50%;
      }
    }
  }

  .image {
    background-color: $primary-blue;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(33,33,33, 0.4);
    height: 80vw;
    margin-bottom: 10vw;
    transition: .2s;
    width: 80vw;
    z-index: 499;

    &:hover {
      transform: scale(1.05);
    }

    @include breakpoint-large-up {
      height: 38vw;
      position: absolute;
      right: 0;
      width: 38vw;
    }
  }

  .whitebar {
    background-color: $bg-white;
    height: 10px;
    position: relative;
    top: calc(-5rem - 1px);
    width: 100%;
    z-index: 501;
  }
}
