@import '@styles/_breakpoints.scss';
@import '@styles/_mixins.scss';
@import '@styles/_theme.scss';

.about {
  background-color: $bg-white;
  color: $text-black;
  position: relative;
  top: -10px;
  z-index: 500;

  .content {
    @include content;
    position: relative;
    top: calc(5rem + 10px);

    h1 {
      color: $primary-blue;
    }

    .text {
      text-align: center;
      width: 100%;
      z-index: 501;
      @include breakpoint-large-up {
        text-align: left;
        width: 50%;
      }
    }
  }

  .image {
    background-color: $primary-blue;
    border-radius: 50%;
    height: 35vw;
    transition: .2s;
    width: 35vw;
    z-index: 499;

    &:hover {
      transform: scale(1.1);
    }
  }
}
