@import '@styles/_breakpoints.scss';
@import '@styles/_font.scss';
@import '@styles/_theme.scss';

.splash {
  height: 100vh;
  position: relative;
  width: 100vw;

  svg {
    filter: drop-shadow(0 -5px 8px rgba(33,33,33, 0.2));
    position: absolute;
    bottom: 0;
    pointer-events: none;
    width: 100%;
    height: auto;
  }

  .typed {
    background-color: $primary-blue;
    opacity: .6;
    color: white;
    position: absolute;
    padding: 0 20px;
    font-family: 'Poppins';
    font-size: 1.6rem;
    bottom: 20%;
    width: 100%;
    text-align: center;
    @include breakpoint-large-up {
      text-align: left;
      font-size: 2.4rem;
      border-top-right-radius: 4rem;
      border-bottom-right-radius: 4rem;
          bottom: calc(50% - 4rem);
          width: auto;
    }
  }
}
