@import '@styles/_theme.scss';
@import '@styles/_breakpoints.scss';

.header {
  align-items: center;
  background-color: $bg-grey;
  display: flex;
  height: $headerHeight;
  justify-content: center;
  padding-top: 10px;
  position: fixed;
  width: 100vw;
  z-index: 1000;

  a {
    align-items: center;
    display: flex;
    justify-content: center;

    .logo {
      height: 100%;
      position: absolute;
      transition: .2s;
      z-index: 1001;

      @include breakpoint-large-up {
        left: 5%;
        top: $headerHeight / 2;
      }

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  .active {
    &:after {
      background-color: $colorPrimary !important;
    }
  }

  .menu {
    align-items: center;
    background-color: $bg-grey;
    display: flex;
    height: $headerHeight;
    font-size: 1rem;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1000;

    @include breakpoint-large-up {
      right: 5%;
      top: 0;
      width: 50%;
    }

    .menu-item {
      color: $colorPrimary;
      justify-content: flex-end;
      position: relative;
      text-align: center;
      transition: .2s;
      width: 20%;

      &:after {
        -moz-border-radius: 7.5px;
        -webkit-border-radius: 7.5px;
        background-color: $bg-grey;
        border-radius: 7.5px;
        border-style: solid;
        border-color: currentColor;
        content: '';
        display: inline-block;
        height: 15px;
        left: 50%;
        margin-left: -7.5px;
        position: absolute;
        top: 40px;
        width: 15px;
      }

      &:hover {
        transform: scale(1.1);

        &:after {
          background-color: currentColor;
        }
      }
    }
  }

  hr {
    border-top: 1px solid $text-black;
    opacity: 0.2;
    position: absolute;
    width: 80%;
    // This is calculated by taking the distance from the top of the menu
    // And then tacking on the offset of the menu-item:after content minus half
    // of its size.
    top: calc(100% + 33.5px);
    z-index: 999;
    @include breakpoint-large-up {
      top: calc(50% + 33.5px);
      width: 80%;
    }
  }
}
